.git
.DS_Store
.idea
.target
*/target
.settings
.classpath
.project
*.iml
.svn
.zip
.nbproject
.gz
*.ipr
*.iws
*.tgz
.vim
.tmp
.vscode
node_modules
npm-debug.log
yarn.lock
package-lock.json
config.gypi
.*.swp
logs/*
t.*